flows.json
[
    {
        "id": "eb23aa7e0c1a25b2",
        "type": "tab",
        "label": "PCN Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1cc3e88ab7ddcf11",
        "type": "tab",
        "label": "AAS Server Access",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f740f2a02722110",
        "type": "tab",
        "label": "MQTT Flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "579eee5c6f3463c1",
        "type": "tab",
        "label": "Test Flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ab993690910a0e8",
        "type": "mqtt-broker",
        "name": "pcn-hackathon.westeurope.cloudapp.azure.com.mqtt",
        "broker": "pcn-hackathon.westeurope.cloudapp.azure.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "20683eecfcefd853",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1e237403dd467732",
        "type": "ui_group",
        "name": "Standard",
        "tab": "20683eecfcefd853",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a16d945cdfc7a673",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d961a19e7c1d998",
        "type": "mqtt out",
        "z": "eb23aa7e0c1a25b2",
        "name": "",
        "topic": "oi4-bike_de_ids_asset_9202_4872_3095_1328",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ab993690910a0e8",
        "x": 1800,
        "y": 80,
        "wires": []
    },
    {
        "id": "f9db56cd5b2c85f9",
        "type": "inject",
        "z": "eb23aa7e0c1a25b2",
        "name": "manual trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1230,
        "y": 40,
        "wires": [
            [
                "920390e7c2a3a16f"
            ]
        ]
    },
    {
        "id": "f84cdc91cf3d59d7",
        "type": "ui_form",
        "z": "eb23aa7e0c1a25b2",
        "name": "",
        "label": "Update an AAS PCN submodel change record",
        "group": "1e237403dd467732",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Change Record",
                "value": "changeRecord",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Change Description",
                "value": "changeDescription",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "changeRecord": "",
            "changeDescription": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "a3cf413f3697e361",
                "5cba86ec7a00ce44"
            ]
        ]
    },
    {
        "id": "a3cf413f3697e361",
        "type": "debug",
        "z": "eb23aa7e0c1a25b2",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "bb15c3b0ecd46d2a",
        "type": "http request",
        "z": "eb23aa7e0c1a25b2",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "4b92ece701c352af",
                "920390e7c2a3a16f"
            ]
        ]
    },
    {
        "id": "5cba86ec7a00ce44",
        "type": "change",
        "z": "eb23aa7e0c1a25b2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/Records",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"ApiKey\":\"A5Z2w$@S%>0M\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "pcnpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "iso",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "161ad06f5717c0a0"
            ]
        ]
    },
    {
        "id": "161ad06f5717c0a0",
        "type": "http request",
        "z": "eb23aa7e0c1a25b2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 80,
        "wires": [
            [
                "19ca7469ca9bbb1d"
            ]
        ]
    },
    {
        "id": "3997fbe76bba4629",
        "type": "debug",
        "z": "eb23aa7e0c1a25b2",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pcnpayload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "19ca7469ca9bbb1d",
        "type": "json",
        "z": "eb23aa7e0c1a25b2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 80,
        "wires": [
            [
                "3997fbe76bba4629",
                "2cfa1070b9c0057b"
            ]
        ]
    },
    {
        "id": "4b92ece701c352af",
        "type": "debug",
        "z": "eb23aa7e0c1a25b2",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 140,
        "wires": []
    },
    {
        "id": "2cfa1070b9c0057b",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "function: add record",
        "func": "var record = {\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB002#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"Record__0000__\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB003#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"Manufacturer\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO677#003\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Example company and sons\"}],\"idShort\":\"ManufacturerName\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAQ832#005\"}],\"type\":\"ExternalReference\"},\"supplementalSemanticIds\":[{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/smt-dropin/smt-dropin-use/1/0\"}],\"type\":\"ExternalReference\"}],\"description\":[{\"language\":\"en\",\"text\":\"supplementalSemanticId: https://admin-shell.io/smt-dropin/smt-dropin-use/1/0\"},{\"language\":\"en\",\"text\":\"Note: this set of information is defined by SMT dropin \\\"Contact Information\\\"\"}],\"idShort\":\"AdressInformation\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC507#001\"}],\"type\":\"ExternalReference\"},\"value\":\"CN123456\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ManufacturerChangeID\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnType/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"PCN\",\"valueId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#07-ABO119#001\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Following the VDMA 24903, this mandatory global flag distincts between a PCN and PDN. Use either value PCN or PDN with valueId 0173-10029#07-ABO119#001 (PCN) or 0173-10029#07-ABO120#001 (PDN).\"},{\"language\":\"en\",\"text\":\"Note: According this global flag, the PCN milestone (0173-10029#07-ABO119#001) communicates the effective date of the PCN and the EOP milestone (EOP milestone (0173-10029#07-ABO122#001) communicates the end of production date for the PDN in the life cycle data.\"}],\"idShort\":\"PcnType\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"LifeCycleData\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/Milestone/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/Milestone/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"Milestone__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC548#001\"}],\"type\":\"ExternalReference\"},\"value\":\"EOS\",\"valueId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"0173-10029#07-ABO121#001\"}],\"type\":\"ModelReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: defined point in time with a specific meaning for life-cycle management (IEC 62890:2020).\"},{\"language\":\"en\",\"text\":\"Note: Set value and valueId with one of these: SOP (0173-10029#07-ABO117#001),  NRND (0173-10029#07-ABO118#001),  PCN (0173-10029#07-ABO119#001),  EOS (0173-10029#07-ABO121#001),  EOP (0173-10029#07-ABO122#001),  LTD (0173-10029#07-ABO123#001),  EOSR (0173-10029#07-ABO124#001)\"},{\"language\":\"en\",\"text\":\"Note: The PDN milestone is not to be used for this classification. Instead, the global flag PcnType is set with value=PCN and valueId=0173-10029#07-ABO120#001.\"}],\"idShort\":\"MilestoneClassification\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\" 0173-1#02-ABF815#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2022-08-01T00:00Z\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Date is in UTC (coordinated universal time).\"}],\"idShort\":\"DateOfValidity\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ReasonOfChange/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"One\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Multiple classification systems might be used.\"},{\"language\":\"en\",\"text\":\"Constraint: At least one reason according VDM24903 shall be given.\"}],\"idShort\":\"ReasonsOfChange\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"OneToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ReasonOfChange__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF813#002\"}],\"type\":\"ExternalReference\"},\"value\":\"VDMA24903\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Examples for common names for classification systems are \\\"VDMA24903\\\" or \\\"ECLASS\\\".\"}],\"idShort\":\"ReasonClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2017\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: 4 digit year of publication data of classifcation standard can serve as version.\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC727#001\"}],\"type\":\"ExternalReference\"},\"value\":\"RAWM\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ReasonId\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"One\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Multiple classification systems might be used.\"},{\"language\":\"en\",\"text\":\"Constraint: At least one item category according VDM24903 shall be given.\"}],\"idShort\":\"ItemCategories\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"OneToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ItemCategory__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/ItemClassificationSystem/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"VDMA24903\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Examples for common names for classification systems are \\\"VDMA24903\\\".\"}],\"idShort\":\"ItemClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2017\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: 4 digit year of publication data of classifcation standard can serve as version.\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"ELME\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ItemCategory\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AffectedPartNumber/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Constraint: Affected part numbers shall only be listed, if not the full range of part numbers produced for this item (product family and designation) is affected.\"},{\"language\":\"en\",\"text\":\"Note: Multiple single part numbers with wildcards or ranges of part numbers are listed.\"}],\"idShort\":\"AffectedPartNumbers\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AffectedPartNumber/1/0\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: This Property codes only part number (\\\"12345\\\"), a set of part numbers (\\\"12345;23456;34567\\\"), a range of part numbers(\\\"10000-19999\\\"). For each of these, wildcards like asterix (\\\"1*8\\\", all numbers starting with '1' and ending with '8') or question mark (\\\"1?3?8\\\", all 5 digit numbers starting with '1' and ending with '8' and middle as '5') are allowed.\"}],\"idShort\":\"AffectedPartNumber__00__\"}]},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF814#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"End of sales and substitution with superior product with IO Link.\"}],\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: May be substituted by PcnChangeInformation\"}],\"idShort\":\"PcnReasonComment\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"PcnChangeInformation\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/ChangeTitle/1/0\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Change of product dimensions because of RoHS\"}],\"idShort\":\"ChangeTitle\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/ChangeDetail/1/0\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Because of this and that and that the following features changed: A, B, C..\"}],\"idShort\":\"ChangeDetail\"}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AdditionalInformation/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Suppliers are encouraged to add the conventional \\\"product change information\\\" documents and further details, e.g. photo-based or geometric change information to the PCN record.\"}],\"idShort\":\"AdditionalInformation\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#01-ADN356#009\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"File\",\"value\":[{\"modelType\":\"File\",\"contentType\":\"\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#01-ADN356#009\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This File element can be used to attach the conventional \\\"product change information\\\" already provided by many suppliers or e.g. some detail geometry information.\"}],\"idShort\":\"AdditionalInformation__00__\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF816#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2022-07-26T18:27Z\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Date is in UTC (coordinated universal time).\"}],\"idShort\":\"DateOfRecord\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB006#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"ItemOfChange\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAU731#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Pressure sensor\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductFamily\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAW338#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductDesignation\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO227#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"FMABC1234\"}],\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Optional, as it might not exist for long term used items.\"}],\"idShort\":\"OrderCodeOfManufacturer\"},{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF978#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This can be used to easily retrieve further information on the described item, such as full technical data, documentation, MCAD or ECAD models and more..\"}],\"idShort\":\"ManufacturerAssetID\",\"value\":{\"keys\":[],\"type\":\"ModelReference\"}},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ProductClassification/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is encouraged to provide the actual product classficiation, e.g. by ECLASS, in order to ease the identification of relevant items by the industrial user.\"}],\"idShort\":\"ProductClassifications\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassification__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR709#002\"}],\"type\":\"ExternalReference\"},\"value\":\"ECLASS\",\"valueType\":\"xs:string\",\"idShort\":\"ClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"14.0 (BASIC)\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ClassificationSystemVersion/1/1\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF979#001\"}],\"type\":\"ExternalReference\"},\"value\":\"27-27-49-01\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the product class.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ProductClassId/1/1\"}],\"idShort\":\"ProductClassId\"}]}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAN270#002\"}],\"type\":\"ExternalReference\"},\"value\":\"1.1\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"HardwareVersion\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-BAF551#003\"}],\"type\":\"ExternalReference\"},\"value\":\"4500\",\"valueType\":\"xs:positiveInteger\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This is an indicative figure; the manufacturer/ supplier may use a heuristical model to distribute available stock to a forecasted number of industrial users. Useful for industrial users to assess individual need of products against assumed availability.\"}],\"idShort\":\"RemainingAmountAvailable\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"TechnicalData_Changes\",\"orderRelevant\":true,\"typeValueListElement\":\"SubmodelElement\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/Change/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This SMC can be added to annotate changes in DataElements of existing Submodels (e.g. for technical data) and to provide more specific information to reason and items of a VDMA 24903 change.\"}],\"idShort\":\"SingleChange__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"supplementalSemanticIds\":[{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/NewValue/1/0\"}],\"type\":\"ExternalReference\"}],\"value\":\"100 [mA]\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: An arbitrary Property, MLP, Range-element can be placed in this structure with arbitrary semanticId. It is marked by the supplementalSemanticId for 'new value'.\"}],\"idShort\":\"Arbitrary\"},{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/Origin_of_Change/1/0\"}],\"type\":\"ExternalReference\"},\"description\":[{\"language\":\"en\",\"text\":\"Note: The set of technical data in the definition refers to the Submodel for technical data in the AAS.\"}],\"idShort\":\"Origin_of_change\",\"value\":{\"keys\":[{\"type\":\"Submodel\",\"value\":\"https://example.com/sm/12345/\"},{\"type\":\"SubmodelElementCollection\",\"value\":\"TechnicalProperties\"},{\"type\":\"Property\",\"value\":\"MaxOutputCurrent\"}],\"type\":\"ModelReference\"}},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC727#001\"}],\"type\":\"ExternalReference\"},\"value\":\"RAWM\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ReasonId\"}]}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_CurrentState/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: For the recommended items, the technical data elements are individually grouped in fit, form, function, other. As different alternatives might engange different groupings, the respective technical data elements of the item of change are not grouped, at all.\"},{\"language\":\"en\",\"text\":\"Note: If possible, technical data elements in the recommended items should find its counterparts here (that is: DataElement with identical semanticId).\"}],\"idShort\":\"TechnicalData_CurrentState\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Each DataElement represents a change of a technical data element. DataElements such as Property, MultiLanguageProperty and Range are applicable. To bring about the information, both idShort and semanticId can be set to the resepctive {arbitrary} attribute of the corresponding  technical data element.\"}],\"idShort\":\"Arbitrary\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: The supplier is encoraged to provide recommended items.\"}],\"idShort\":\"RecommendedItems\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"RecommendedItem__00__\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAU731#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Pressure sensor\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductFamily\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAW338#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductDesignation\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO227#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"FMABC1234\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Mandatory, as required to order.\"}],\"idShort\":\"OrderCodeOfManufacturer\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ProductClassification/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassifications\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassification__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR709#002\"}],\"type\":\"ExternalReference\"},\"value\":\"ECLASS\",\"valueType\":\"xs:string\",\"idShort\":\"ClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"14.0 (BASIC)\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ClassificationSystemVersion/1/1\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF979#001\"}],\"type\":\"ExternalReference\"},\"value\":\"27-27-49-01\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the product class.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ProductClassId/1/1\"}],\"idShort\":\"ProductClassId\"}]}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB008#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Fit\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.7\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB009#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Form\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.4\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB010#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Function\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.87\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB011#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"},{\"language\":\"en\",\"text\":\"Note: the SMC TechnicalData_Other is supposed to comprise meaningful property instances, which do not fit into the categorries fit, form, function.\"}],\"idShort\":\"TechnicalData_Other\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.95\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO280#003\"}],\"type\":\"ExternalReference\"},\"value\":\"DAT\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: see https://en.wikipedia.org/wiki/Incoterms\"}],\"idShort\":\"IncotermCode\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF982#001\"}],\"type\":\"ExternalReference\"},\"value\":\"5\",\"valueType\":\"xs:int\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"DeliveryTimeClassOtherRegion\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF981#001\"}],\"type\":\"ExternalReference\"},\"value\":\"2\",\"valueType\":\"xs:int\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"DeliveryTimeClassSameRegion\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB012#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ConformityDeclarations\"}]}]}]}\n\nmsg.log = [];\nrecord.value[4].value[0].value[2].value = \"SOFTW\";\nrecord.value[10].value=String(msg.timestamp);\nrecord.value[8].value[0].value[0].text = msg.pcnpayload.changeRecord;\nrecord.value[8].value[1].value[0].text = msg.pcnpayload.changeDescription;\n\n\n// var new_val = set_my_val(value2, [\"DateOfRecord\"], \n\n// new_val.value[4].value[0].value[2].value = \"SOFTW\"\n\n\nrecord.idShort = \"Record__\" + msg.payload.value.length.toString().padStart(4, '0') + \"__\";\nmsg.payload.value.push(record);\n// msg.payload.value = [msg.payload.value[0]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 3,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "a92faca4fa5e0e33",
                "f2fe0f736682bd3f",
                "bb15c3b0ecd46d2a"
            ]
        ]
    },
    {
        "id": "a92faca4fa5e0e33",
        "type": "debug",
        "z": "eb23aa7e0c1a25b2",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2fe0f736682bd3f",
        "type": "debug",
        "z": "eb23aa7e0c1a25b2",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 140,
        "wires": []
    },
    {
        "id": "920390e7c2a3a16f",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "function: send mqtt notification",
        "func": "msg.payload = { \"submodel\": { \"id\": \"https://meta-level.de/ids/sm/1897_2537_5972_2262\", \"path\": \"https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy\", \"changeRecord\": \"https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/Records[1]\" } };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 80,
        "wires": [
            [
                "8d961a19e7c1d998"
            ]
        ]
    },
    {
        "id": "727a6dc5d3186ac2",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/shells",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "8ca1db70e65cad94"
            ]
        ]
    },
    {
        "id": "7061447d14cc9395",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "727a6dc5d3186ac2"
            ]
        ]
    },
    {
        "id": "8ca1db70e65cad94",
        "type": "debug",
        "z": "1cc3e88ab7ddcf11",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd90acb1026888da",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/shells/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9hYXMvNzAzNV8zOTEzXzc1OTFfNjYwMg ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "ApiKey",
                "valueType": "other",
                "valueValue": "A5Z2w$@S%>0M"
            }
        ],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "4c45385a6250ad0b"
            ]
        ]
    },
    {
        "id": "4387b78abcdcdda2",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 400,
        "wires": [
            [
                "0c3eef8866ad2580"
            ]
        ]
    },
    {
        "id": "a809af892c3f74f9",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "Shells access test",
        "info": "",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "db729d670b61b46c",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "fd90acb1026888da"
            ]
        ]
    },
    {
        "id": "4c45385a6250ad0b",
        "type": "debug",
        "z": "1cc3e88ab7ddcf11",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "2ca646f60904dc2e",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "E-Bike Shell",
        "info": "",
        "x": 250,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4e20e5adfae3648",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "E-Bike PCN Submodel",
        "info": "",
        "x": 280,
        "y": 360,
        "wires": []
    },
    {
        "id": "1bf7e1485c44d46d",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "4387b78abcdcdda2"
            ]
        ]
    },
    {
        "id": "0c3eef8866ad2580",
        "type": "debug",
        "z": "1cc3e88ab7ddcf11",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "6018a8bf9640db0e",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/shells",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "1b8c0cda3155a03a"
            ]
        ]
    },
    {
        "id": "52e4613ee85bcb4d",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "6018a8bf9640db0e"
            ]
        ]
    },
    {
        "id": "1b8c0cda3155a03a",
        "type": "debug",
        "z": "1cc3e88ab7ddcf11",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "8494720818162006",
        "type": "mqtt in",
        "z": "8f740f2a02722110",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ab993690910a0e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "a277964ed7fed32a"
            ]
        ]
    },
    {
        "id": "a277964ed7fed32a",
        "type": "debug",
        "z": "8f740f2a02722110",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "88cbbb1aee744678",
        "type": "comment",
        "z": "8f740f2a02722110",
        "name": "MQTT Subscription",
        "info": "",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "f80a216ae584f246",
        "type": "inject",
        "z": "8f740f2a02722110",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"pcn\":\"test\",\"submodel\":\"Reference\"}",
        "payloadType": "json",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "7a03087f03c3a3b7"
            ]
        ]
    },
    {
        "id": "7a03087f03c3a3b7",
        "type": "json",
        "z": "8f740f2a02722110",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "106dc058be70f1f5",
                "d9938a2ea8b457d7"
            ]
        ]
    },
    {
        "id": "106dc058be70f1f5",
        "type": "debug",
        "z": "8f740f2a02722110",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "d45423e3a45a417c",
        "type": "comment",
        "z": "8f740f2a02722110",
        "name": "MQTT update message test",
        "info": "",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "d9938a2ea8b457d7",
        "type": "mqtt out",
        "z": "8f740f2a02722110",
        "name": "",
        "topic": "oi4-bike_de_ids_asset_9202_4872_3095_1328",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ab993690910a0e8",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "7637aa19f3428ce6",
        "type": "function",
        "z": "579eee5c6f3463c1",
        "name": "Function with Recursion - not working",
        "func": "// var value = {\"AdditionalInformation\":[{\"contentType\":\"\"}],\"ItemOfChange\":{\"TechnicalData_Changes\":[{\"Origin_of_change\":{\"type\":\"ModelReference\",\"keys\":[{\"type\":\"Submodel\",\"value\":\"https://example.com/sm/12345/\"},{\"type\":\"SubmodelElementCollection\",\"value\":\"TechnicalProperties\"},{\"type\":\"Property\",\"value\":\"MaxOutputCurrent\"}]},\"ReasonId\":\"RAWM\",\"Arbitrary\":\"100 [mA]\"}],\"ManufacturerProductDesignation\":[{\"en\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"OrderCodeOfManufacturer\":[{\"en\":\"FMABC1234\"}],\"ProductClassifications\":[{\"ClassificationSystem\":\"ECLASS\",\"VersionOfClassificationSystem\":\"14.0 (BASIC)\",\"ProductClassId\":\"27-27-49-01\"}],\"TechnicalData_CurrentState\":{\"Arbitrary\":null},\"HardwareVersion\":\"1.1\",\"RemainingAmountAvailable\":\"4500\",\"ManufacturerAssetID\":{\"type\":\"ModelReference\",\"keys\":[]},\"ManufacturerProductFamily\":[{\"en\":\"Pressure sensor\"}]},\"LifeCycleData\":[{\"MilestoneClassification\":\"EOS\",\"DateOfValidity\":\"2022-08-01T00:00Z\"}],\"ItemCategories\":[{\"ItemCategory\":\"ELME\",\"VersionOfClassificationSystem\":\"2017\",\"ItemClassificationSystem\":\"VDMA24903\"}],\"RecommendedItems\":[{\"TechnicalData_Function\":{\"TargetEstimate\":\"0.87\",\"Arbitrary\":null},\"DeliveryTimeClassSameRegion\":\"2\",\"TechnicalData_Fit\":{\"TargetEstimate\":\"0.7\",\"Arbitrary\":null},\"ManufacturerProductDesignation\":[{\"en\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"OrderCodeOfManufacturer\":[{\"en\":\"FMABC1234\"}],\"ProductClassifications\":[{\"ClassificationSystem\":\"ECLASS\",\"VersionOfClassificationSystem\":\"14.0 (BASIC)\",\"ProductClassId\":\"27-27-49-01\"}],\"TechnicalData_Form\":{\"TargetEstimate\":\"0.4\",\"Arbitrary\":null},\"TechnicalData_Other\":{\"TargetEstimate\":\"0.95\",\"Arbitrary\":null},\"IncotermCode\":\"DAT\",\"DeliveryTimeClassOtherRegion\":\"5\",\"ConformityDeclarations\":{},\"ManufacturerProductFamily\":[{\"en\":\"Pressure sensor\"}]}],\"PcnType\":\"PCN\",\"ReasonsOfChange\":[{\"VersionOfClassificationSystem\":\"2017\",\"ReasonId\":\"RAWM\",\"ReasonClassificationSystem\":\"VDMA24903\"}],\"DateOfRecord\":\"2022-07-26T18:27Z\",\"AffectedPartNumbers\":[null],\"ManufacturerChangeID\":\"CN123456\",\"Manufacturer\":{\"ManufacturerName\":[{\"en\":\"Example company and sons\"}],\"AdressInformation\":{}},\"PcnChangeInformation\":{\"ChangeTitle\":[{\"en\":\"Change of product dimensions because of RoHS\"}],\"ChangeDetail\":[{\"en\":\"Because of this and that and that the following features changed: A, B, C..\"}]},\"PcnReasonComment\":[{\"en\":\"End of sales and substitution with superior product with IO Link.\"}]};\nvar value2 = [{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB003#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"Manufacturer\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO677#003\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Example company and sons\"}],\"idShort\":\"ManufacturerName\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAQ832#005\"}],\"type\":\"ExternalReference\"},\"supplementalSemanticIds\":[{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/smt-dropin/smt-dropin-use/1/0\"}],\"type\":\"ExternalReference\"}],\"description\":[{\"language\":\"en\",\"text\":\"supplementalSemanticId: https://admin-shell.io/smt-dropin/smt-dropin-use/1/0\"},{\"language\":\"en\",\"text\":\"Note: this set of information is defined by SMT dropin \\\"Contact Information\\\"\"}],\"idShort\":\"AdressInformation\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC507#001\"}],\"type\":\"ExternalReference\"},\"value\":\"CN123456\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ManufacturerChangeID\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnType/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"PCN\",\"valueId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#07-ABO119#001\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Following the VDMA 24903, this mandatory global flag distincts between a PCN and PDN. Use either value PCN or PDN with valueId 0173-10029#07-ABO119#001 (PCN) or 0173-10029#07-ABO120#001 (PDN).\"},{\"language\":\"en\",\"text\":\"Note: According this global flag, the PCN milestone (0173-10029#07-ABO119#001) communicates the effective date of the PCN and the EOP milestone (EOP milestone (0173-10029#07-ABO122#001) communicates the end of production date for the PDN in the life cycle data.\"}],\"idShort\":\"PcnType\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"LifeCycleData\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/Milestone/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/Milestone/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"Milestone__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC548#001\"}],\"type\":\"ExternalReference\"},\"value\":\"EOS\",\"valueId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"0173-10029#07-ABO121#001\"}],\"type\":\"ModelReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: defined point in time with a specific meaning for life-cycle management (IEC 62890:2020).\"},{\"language\":\"en\",\"text\":\"Note: Set value and valueId with one of these: SOP (0173-10029#07-ABO117#001),  NRND (0173-10029#07-ABO118#001),  PCN (0173-10029#07-ABO119#001),  EOS (0173-10029#07-ABO121#001),  EOP (0173-10029#07-ABO122#001),  LTD (0173-10029#07-ABO123#001),  EOSR (0173-10029#07-ABO124#001)\"},{\"language\":\"en\",\"text\":\"Note: The PDN milestone is not to be used for this classification. Instead, the global flag PcnType is set with value=PCN and valueId=0173-10029#07-ABO120#001.\"}],\"idShort\":\"MilestoneClassification\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\" 0173-1#02-ABF815#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2022-08-01T00:00Z\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Date is in UTC (coordinated universal time).\"}],\"idShort\":\"DateOfValidity\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ReasonOfChange/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"One\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Multiple classification systems might be used.\"},{\"language\":\"en\",\"text\":\"Constraint: At least one reason according VDM24903 shall be given.\"}],\"idShort\":\"ReasonsOfChange\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"OneToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ReasonOfChange__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF813#002\"}],\"type\":\"ExternalReference\"},\"value\":\"VDMA24903\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Examples for common names for classification systems are \\\"VDMA24903\\\" or \\\"ECLASS\\\".\"}],\"idShort\":\"ReasonClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2017\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: 4 digit year of publication data of classifcation standard can serve as version.\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC727#001\"}],\"type\":\"ExternalReference\"},\"value\":\"RAWM\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ReasonId\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"One\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Multiple classification systems might be used.\"},{\"language\":\"en\",\"text\":\"Constraint: At least one item category according VDM24903 shall be given.\"}],\"idShort\":\"ItemCategories\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"OneToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ItemCategory__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/ItemClassificationSystem/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"VDMA24903\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Examples for common names for classification systems are \\\"VDMA24903\\\".\"}],\"idShort\":\"ItemClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2017\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: 4 digit year of publication data of classifcation standard can serve as version.\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"ELME\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ItemCategory\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AffectedPartNumber/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Constraint: Affected part numbers shall only be listed, if not the full range of part numbers produced for this item (product family and designation) is affected.\"},{\"language\":\"en\",\"text\":\"Note: Multiple single part numbers with wildcards or ranges of part numbers are listed.\"}],\"idShort\":\"AffectedPartNumbers\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AffectedPartNumber/1/0\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: This Property codes only part number (\\\"12345\\\"), a set of part numbers (\\\"12345;23456;34567\\\"), a range of part numbers(\\\"10000-19999\\\"). For each of these, wildcards like asterix (\\\"1*8\\\", all numbers starting with '1' and ending with '8') or question mark (\\\"1?3?8\\\", all 5 digit numbers starting with '1' and ending with '8' and middle as '5') are allowed.\"}],\"idShort\":\"AffectedPartNumber__00__\"}]},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF814#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"End of sales and substitution with superior product with IO Link.\"}],\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: May be substituted by PcnChangeInformation\"}],\"idShort\":\"PcnReasonComment\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"PcnChangeInformation\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/ChangeTitle/1/0\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Change of product dimensions because of RoHS\"}],\"idShort\":\"ChangeTitle\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/ChangeDetail/1/0\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Because of this and that and that the following features changed: A, B, C..\"}],\"idShort\":\"ChangeDetail\"}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AdditionalInformation/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Suppliers are encouraged to add the conventional \\\"product change information\\\" documents and further details, e.g. photo-based or geometric change information to the PCN record.\"}],\"idShort\":\"AdditionalInformation\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#01-ADN356#009\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"File\",\"value\":[{\"modelType\":\"File\",\"contentType\":\"\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#01-ADN356#009\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This File element can be used to attach the conventional \\\"product change information\\\" already provided by many suppliers or e.g. some detail geometry information.\"}],\"idShort\":\"AdditionalInformation__00__\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF816#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2022-07-26T18:27Z\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Date is in UTC (coordinated universal time).\"}],\"idShort\":\"DateOfRecord\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB006#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"ItemOfChange\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAU731#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Pressure sensor\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductFamily\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAW338#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductDesignation\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO227#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"FMABC1234\"}],\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Optional, as it might not exist for long term used items.\"}],\"idShort\":\"OrderCodeOfManufacturer\"},{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF978#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This can be used to easily retrieve further information on the described item, such as full technical data, documentation, MCAD or ECAD models and more..\"}],\"idShort\":\"ManufacturerAssetID\",\"value\":{\"keys\":[],\"type\":\"ModelReference\"}},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ProductClassification/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is encouraged to provide the actual product classficiation, e.g. by ECLASS, in order to ease the identification of relevant items by the industrial user.\"}],\"idShort\":\"ProductClassifications\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassification__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR709#002\"}],\"type\":\"ExternalReference\"},\"value\":\"ECLASS\",\"valueType\":\"xs:string\",\"idShort\":\"ClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"14.0 (BASIC)\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ClassificationSystemVersion/1/1\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF979#001\"}],\"type\":\"ExternalReference\"},\"value\":\"27-27-49-01\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the product class.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ProductClassId/1/1\"}],\"idShort\":\"ProductClassId\"}]}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAN270#002\"}],\"type\":\"ExternalReference\"},\"value\":\"1.1\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"HardwareVersion\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-BAF551#003\"}],\"type\":\"ExternalReference\"},\"value\":\"4500\",\"valueType\":\"xs:positiveInteger\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This is an indicative figure; the manufacturer/ supplier may use a heuristical model to distribute available stock to a forecasted number of industrial users. Useful for industrial users to assess individual need of products against assumed availability.\"}],\"idShort\":\"RemainingAmountAvailable\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"TechnicalData_Changes\",\"orderRelevant\":true,\"typeValueListElement\":\"SubmodelElement\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/Change/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This SMC can be added to annotate changes in DataElements of existing Submodels (e.g. for technical data) and to provide more specific information to reason and items of a VDMA 24903 change.\"}],\"idShort\":\"SingleChange__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"supplementalSemanticIds\":[{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/NewValue/1/0\"}],\"type\":\"ExternalReference\"}],\"value\":\"100 [mA]\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: An arbitrary Property, MLP, Range-element can be placed in this structure with arbitrary semanticId. It is marked by the supplementalSemanticId for 'new value'.\"}],\"idShort\":\"Arbitrary\"},{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/Origin_of_Change/1/0\"}],\"type\":\"ExternalReference\"},\"description\":[{\"language\":\"en\",\"text\":\"Note: The set of technical data in the definition refers to the Submodel for technical data in the AAS.\"}],\"idShort\":\"Origin_of_change\",\"value\":{\"keys\":[{\"type\":\"Submodel\",\"value\":\"https://example.com/sm/12345/\"},{\"type\":\"SubmodelElementCollection\",\"value\":\"TechnicalProperties\"},{\"type\":\"Property\",\"value\":\"MaxOutputCurrent\"}],\"type\":\"ModelReference\"}},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC727#001\"}],\"type\":\"ExternalReference\"},\"value\":\"RAWM\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ReasonId\"}]}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_CurrentState/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: For the recommended items, the technical data elements are individually grouped in fit, form, function, other. As different alternatives might engange different groupings, the respective technical data elements of the item of change are not grouped, at all.\"},{\"language\":\"en\",\"text\":\"Note: If possible, technical data elements in the recommended items should find its counterparts here (that is: DataElement with identical semanticId).\"}],\"idShort\":\"TechnicalData_CurrentState\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Each DataElement represents a change of a technical data element. DataElements such as Property, MultiLanguageProperty and Range are applicable. To bring about the information, both idShort and semanticId can be set to the resepctive {arbitrary} attribute of the corresponding  technical data element.\"}],\"idShort\":\"Arbitrary\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: The supplier is encoraged to provide recommended items.\"}],\"idShort\":\"RecommendedItems\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"RecommendedItem__00__\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAU731#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Pressure sensor\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductFamily\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAW338#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductDesignation\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO227#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"FMABC1234\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Mandatory, as required to order.\"}],\"idShort\":\"OrderCodeOfManufacturer\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ProductClassification/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassifications\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassification__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR709#002\"}],\"type\":\"ExternalReference\"},\"value\":\"ECLASS\",\"valueType\":\"xs:string\",\"idShort\":\"ClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"14.0 (BASIC)\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ClassificationSystemVersion/1/1\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF979#001\"}],\"type\":\"ExternalReference\"},\"value\":\"27-27-49-01\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the product class.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ProductClassId/1/1\"}],\"idShort\":\"ProductClassId\"}]}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB008#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Fit\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.7\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB009#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Form\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.4\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB010#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Function\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.87\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB011#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"},{\"language\":\"en\",\"text\":\"Note: the SMC TechnicalData_Other is supposed to comprise meaningful property instances, which do not fit into the categorries fit, form, function.\"}],\"idShort\":\"TechnicalData_Other\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.95\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO280#003\"}],\"type\":\"ExternalReference\"},\"value\":\"DAT\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: see https://en.wikipedia.org/wiki/Incoterms\"}],\"idShort\":\"IncotermCode\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF982#001\"}],\"type\":\"ExternalReference\"},\"value\":\"5\",\"valueType\":\"xs:int\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"DeliveryTimeClassOtherRegion\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF981#001\"}],\"type\":\"ExternalReference\"},\"value\":\"2\",\"valueType\":\"xs:int\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"DeliveryTimeClassSameRegion\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB012#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ConformityDeclarations\"}]}]}];\n\nvalue2 = {\"value\":value2};\n\nmsg.log = []\n\nfunction set_my_val(model, path, val) {\n    if (Array.isArray(model.value)){\n        msg.log.push(\"Path \"+path);\n        for (let i = 0; i < model.value.length; i++) {\n            if (model.value[i].idShort == path[0]){\n                if (path.length ==1){\n                    msg.log.push(\"ID \"+model.value[i].idShort);\n                    msg.log.push(\"Val \"+val);\n                    model.value[i].value = val;\n                    msg.log.push(model);\n                    return model;\n                }\n                else{\n                    model.value[i].value = set_my_val(model.value[i],path.slice(1),val);\n                    msg.log.push(\"ID2 \"+model.value[i].idShort);\n                    msg.log.push(model);\n                    return model;\n                }\n            }\n        }\n    }\n    \n};\n\nvar new_val = set_my_val(value2, [\"DateOfRecord\"], String(msg.timestamp));\n\nnew_val.value[4].value[0].value[2].value = \"SOFTW\"\n\n// new_val = set_my_val(new_val, [\"ReasonsOfChange\", \"ReasonOfChange__00__\",\"ReasonId\"],\"SOFTW\")\n// value2 = set_my_val(value2,[\"PcnChangeInformation\",\"ChangeDetail\"],\"MyReason\");\n\n// value.DateOfRecord = String(msg.timestamp);\n// value.PcnChangeInformation.ChangeDetail = \"MyReason\";\npayload = {\n    \"modelType\": \"SubmodelElementCollection\",\n    \"semanticId\": {\n        \"keys\": [\n            {\n                \"type\": \"GlobalReference\",\n                \"value\": \"0173-10029#01-XFB002#001\"\n            }\n        ],\n        \"type\": \"ExternalReference\"\n    },\n    \"idShort\": \"Record__0000__\",\n    \"value\": \"\"\n};\npayload.value = new_val.value;\npayload.idShort = \"Record__\" + msg.payload.value.length.toString().padStart(4, '0') + \"__\";\nmsg.payload.value.push(payload);\n// msg.payload.value = [msg.payload.value[0]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "09235fc75e115e6f",
                "283e24d1bf246cb6"
            ]
        ]
    },
    {
        "id": "09235fc75e115e6f",
        "type": "debug",
        "z": "579eee5c6f3463c1",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "283e24d1bf246cb6",
        "type": "debug",
        "z": "579eee5c6f3463c1",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad11bc45061e66fb",
        "type": "http request",
        "z": "579eee5c6f3463c1",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "cc97f5326e3b74e0"
            ]
        ]
    },
    {
        "id": "f5212384e9ec673f",
        "type": "inject",
        "z": "579eee5c6f3463c1",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "iso",
                "vt": "date"
            },
            {
                "p": "reason",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "fd49906046cb965c"
            ]
        ]
    },
    {
        "id": "fd49906046cb965c",
        "type": "change",
        "z": "579eee5c6f3463c1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/Records",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"ApiKey\":\"A5Z2w$@S%>0M\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "bd0f52c14f37df03"
            ]
        ]
    },
    {
        "id": "bd0f52c14f37df03",
        "type": "http request",
        "z": "579eee5c6f3463c1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "106434506e88ba60"
            ]
        ]
    },
    {
        "id": "6ae589b09e641c87",
        "type": "debug",
        "z": "579eee5c6f3463c1",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "106434506e88ba60",
        "type": "json",
        "z": "579eee5c6f3463c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "6ae589b09e641c87",
                "d8f02d329f6a9b4d"
            ]
        ]
    },
    {
        "id": "cc97f5326e3b74e0",
        "type": "debug",
        "z": "579eee5c6f3463c1",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 460,
        "wires": []
    },
    {
        "id": "d8f02d329f6a9b4d",
        "type": "function",
        "z": "579eee5c6f3463c1",
        "name": "function 2",
        "func": "var record = {\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB002#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"Record__0000__\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB003#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"Manufacturer\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO677#003\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Example company and sons\"}],\"idShort\":\"ManufacturerName\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAQ832#005\"}],\"type\":\"ExternalReference\"},\"supplementalSemanticIds\":[{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/smt-dropin/smt-dropin-use/1/0\"}],\"type\":\"ExternalReference\"}],\"description\":[{\"language\":\"en\",\"text\":\"supplementalSemanticId: https://admin-shell.io/smt-dropin/smt-dropin-use/1/0\"},{\"language\":\"en\",\"text\":\"Note: this set of information is defined by SMT dropin \\\"Contact Information\\\"\"}],\"idShort\":\"AdressInformation\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC507#001\"}],\"type\":\"ExternalReference\"},\"value\":\"CN123456\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ManufacturerChangeID\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnType/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"PCN\",\"valueId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#07-ABO119#001\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Following the VDMA 24903, this mandatory global flag distincts between a PCN and PDN. Use either value PCN or PDN with valueId 0173-10029#07-ABO119#001 (PCN) or 0173-10029#07-ABO120#001 (PDN).\"},{\"language\":\"en\",\"text\":\"Note: According this global flag, the PCN milestone (0173-10029#07-ABO119#001) communicates the effective date of the PCN and the EOP milestone (EOP milestone (0173-10029#07-ABO122#001) communicates the end of production date for the PDN in the life cycle data.\"}],\"idShort\":\"PcnType\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"LifeCycleData\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/Milestone/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/LifeCycleData/Milestone/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"Milestone__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC548#001\"}],\"type\":\"ExternalReference\"},\"value\":\"EOS\",\"valueId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"0173-10029#07-ABO121#001\"}],\"type\":\"ModelReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: defined point in time with a specific meaning for life-cycle management (IEC 62890:2020).\"},{\"language\":\"en\",\"text\":\"Note: Set value and valueId with one of these: SOP (0173-10029#07-ABO117#001),  NRND (0173-10029#07-ABO118#001),  PCN (0173-10029#07-ABO119#001),  EOS (0173-10029#07-ABO121#001),  EOP (0173-10029#07-ABO122#001),  LTD (0173-10029#07-ABO123#001),  EOSR (0173-10029#07-ABO124#001)\"},{\"language\":\"en\",\"text\":\"Note: The PDN milestone is not to be used for this classification. Instead, the global flag PcnType is set with value=PCN and valueId=0173-10029#07-ABO120#001.\"}],\"idShort\":\"MilestoneClassification\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\" 0173-1#02-ABF815#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2022-08-01T00:00Z\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Date is in UTC (coordinated universal time).\"}],\"idShort\":\"DateOfValidity\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ReasonOfChange/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"One\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Multiple classification systems might be used.\"},{\"language\":\"en\",\"text\":\"Constraint: At least one reason according VDM24903 shall be given.\"}],\"idShort\":\"ReasonsOfChange\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"OneToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ReasonOfChange__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF813#002\"}],\"type\":\"ExternalReference\"},\"value\":\"VDMA24903\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Examples for common names for classification systems are \\\"VDMA24903\\\" or \\\"ECLASS\\\".\"}],\"idShort\":\"ReasonClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2017\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: 4 digit year of publication data of classifcation standard can serve as version.\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC727#001\"}],\"type\":\"ExternalReference\"},\"value\":\"RAWM\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ReasonId\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"One\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Multiple classification systems might be used.\"},{\"language\":\"en\",\"text\":\"Constraint: At least one item category according VDM24903 shall be given.\"}],\"idShort\":\"ItemCategories\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"OneToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ItemCategory__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/ItemClassificationSystem/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"VDMA24903\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Examples for common names for classification systems are \\\"VDMA24903\\\".\"}],\"idShort\":\"ItemClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2017\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: 4 digit year of publication data of classifcation standard can serve as version.\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ItemCategory/ItemCategory/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"ELME\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ItemCategory\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AffectedPartNumber/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Constraint: Affected part numbers shall only be listed, if not the full range of part numbers produced for this item (product family and designation) is affected.\"},{\"language\":\"en\",\"text\":\"Note: Multiple single part numbers with wildcards or ranges of part numbers are listed.\"}],\"idShort\":\"AffectedPartNumbers\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB005#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AffectedPartNumber/1/0\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: This Property codes only part number (\\\"12345\\\"), a set of part numbers (\\\"12345;23456;34567\\\"), a range of part numbers(\\\"10000-19999\\\"). For each of these, wildcards like asterix (\\\"1*8\\\", all numbers starting with '1' and ending with '8') or question mark (\\\"1?3?8\\\", all 5 digit numbers starting with '1' and ending with '8' and middle as '5') are allowed.\"}],\"idShort\":\"AffectedPartNumber__00__\"}]},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF814#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"End of sales and substitution with superior product with IO Link.\"}],\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: May be substituted by PcnChangeInformation\"}],\"idShort\":\"PcnReasonComment\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"PcnChangeInformation\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/ChangeTitle/1/0\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Change of product dimensions because of RoHS\"}],\"idShort\":\"ChangeTitle\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/PcnChangeInformation/ChangeDetail/1/0\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Because of this and that and that the following features changed: A, B, C..\"}],\"idShort\":\"ChangeDetail\"}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/AdditionalInformation/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Suppliers are encouraged to add the conventional \\\"product change information\\\" documents and further details, e.g. photo-based or geometric change information to the PCN record.\"}],\"idShort\":\"AdditionalInformation\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#01-ADN356#009\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"File\",\"value\":[{\"modelType\":\"File\",\"contentType\":\"\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#01-ADN356#009\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This File element can be used to attach the conventional \\\"product change information\\\" already provided by many suppliers or e.g. some detail geometry information.\"}],\"idShort\":\"AdditionalInformation__00__\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-ABF816#002\"}],\"type\":\"ExternalReference\"},\"value\":\"2022-07-26T18:27Z\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Date is in UTC (coordinated universal time).\"}],\"idShort\":\"DateOfRecord\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB006#001\"}],\"type\":\"ExternalReference\"},\"idShort\":\"ItemOfChange\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAU731#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Pressure sensor\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductFamily\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAW338#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductDesignation\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO227#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"FMABC1234\"}],\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Optional, as it might not exist for long term used items.\"}],\"idShort\":\"OrderCodeOfManufacturer\"},{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF978#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This can be used to easily retrieve further information on the described item, such as full technical data, documentation, MCAD or ECAD models and more..\"}],\"idShort\":\"ManufacturerAssetID\",\"value\":{\"keys\":[],\"type\":\"ModelReference\"}},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ProductClassification/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is encouraged to provide the actual product classficiation, e.g. by ECLASS, in order to ease the identification of relevant items by the industrial user.\"}],\"idShort\":\"ProductClassifications\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassification__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR709#002\"}],\"type\":\"ExternalReference\"},\"value\":\"ECLASS\",\"valueType\":\"xs:string\",\"idShort\":\"ClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"14.0 (BASIC)\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ClassificationSystemVersion/1/1\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF979#001\"}],\"type\":\"ExternalReference\"},\"value\":\"27-27-49-01\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the product class.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ProductClassId/1/1\"}],\"idShort\":\"ProductClassId\"}]}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAN270#002\"}],\"type\":\"ExternalReference\"},\"value\":\"1.1\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"HardwareVersion\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-BAF551#003\"}],\"type\":\"ExternalReference\"},\"value\":\"4500\",\"valueType\":\"xs:positiveInteger\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This is an indicative figure; the manufacturer/ supplier may use a heuristical model to distribute available stock to a forecasted number of industrial users. Useful for industrial users to assess individual need of products against assumed availability.\"}],\"idShort\":\"RemainingAmountAvailable\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"TechnicalData_Changes\",\"orderRelevant\":true,\"typeValueListElement\":\"SubmodelElement\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/Change/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: This SMC can be added to annotate changes in DataElements of existing Submodels (e.g. for technical data) and to provide more specific information to reason and items of a VDMA 24903 change.\"}],\"idShort\":\"SingleChange__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"supplementalSemanticIds\":[{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/NewValue/1/0\"}],\"type\":\"ExternalReference\"}],\"value\":\"100 [mA]\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: An arbitrary Property, MLP, Range-element can be placed in this structure with arbitrary semanticId. It is marked by the supplementalSemanticId for 'new value'.\"}],\"idShort\":\"Arbitrary\"},{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_Changes/Origin_of_Change/1/0\"}],\"type\":\"ExternalReference\"},\"description\":[{\"language\":\"en\",\"text\":\"Note: The set of technical data in the definition refers to the Submodel for technical data in the AAS.\"}],\"idShort\":\"Origin_of_change\",\"value\":{\"keys\":[{\"type\":\"Submodel\",\"value\":\"https://example.com/sm/12345/\"},{\"type\":\"SubmodelElementCollection\",\"value\":\"TechnicalProperties\"},{\"type\":\"Property\",\"value\":\"MaxOutputCurrent\"}],\"type\":\"ModelReference\"}},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABC727#001\"}],\"type\":\"ExternalReference\"},\"value\":\"RAWM\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the reason id given by ECLASS.\"}],\"idShort\":\"ReasonId\"}]}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"ConceptDescription\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/TechnicalData_CurrentState/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: For the recommended items, the technical data elements are individually grouped in fit, form, function, other. As different alternatives might engange different groupings, the respective technical data elements of the item of change are not grouped, at all.\"},{\"language\":\"en\",\"text\":\"Note: If possible, technical data elements in the recommended items should find its counterparts here (that is: DataElement with identical semanticId).\"}],\"idShort\":\"TechnicalData_CurrentState\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Each DataElement represents a change of a technical data element. DataElements such as Property, MultiLanguageProperty and Range are applicable. To bring about the information, both idShort and semanticId can be set to the resepctive {arbitrary} attribute of the corresponding  technical data element.\"}],\"idShort\":\"Arbitrary\"}]}]},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: The supplier is encoraged to provide recommended items.\"}],\"idShort\":\"RecommendedItems\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/1/0\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/RecommendedItem/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"RecommendedItem__00__\",\"value\":[{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAU731#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"Pressure sensor\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductFamily\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAW338#001\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"SDE3-D10Z-B-HQ4-2N-M8\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: mandatory property according to EU Machine Directive 2006/42/EC.\"}],\"idShort\":\"ManufacturerProductDesignation\"},{\"modelType\":\"MultiLanguageProperty\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO227#002\"}],\"type\":\"ExternalReference\"},\"value\":[{\"language\":\"en\",\"text\":\"FMABC1234\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: Mandatory, as required to order.\"}],\"idShort\":\"OrderCodeOfManufacturer\"},{\"modelType\":\"SubmodelElementList\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://admin-shell.io/VDMA/Fluidics/ProductChangeNotification/ProductClassification/List/1/0\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassifications\",\"orderRelevant\":true,\"semanticIdListElement\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"typeValueListElement\":\"SubmodelElementCollection\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB007#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToMany\",\"valueType\":\"xs:string\"}],\"idShort\":\"ProductClassification__00__\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR709#002\"}],\"type\":\"ExternalReference\"},\"value\":\"ECLASS\",\"valueType\":\"xs:string\",\"idShort\":\"ClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAR710#002\"}],\"type\":\"ExternalReference\"},\"value\":\"14.0 (BASIC)\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Common version identifier of the used classification system, in order to distinguish different version of the property dictionary. \"},{\"language\":\"en\",\"text\":\"Note: Casing is to be ignored.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ClassificationSystemVersion/1/1\"}],\"idShort\":\"VersionOfClassificationSystem\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF979#001\"}],\"type\":\"ExternalReference\"},\"value\":\"27-27-49-01\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Note: Ideally, the Property/valueId is used to reference the IRI/ IRDI of the product class.\"},{\"language\":\"en\",\"text\":\"Note: the SMT \\\"Technical Data\\\" refers to this as: [IRI] https://admin-shell.io/ZVEI/TechnicalData/ProductClassId/1/1\"}],\"idShort\":\"ProductClassId\"}]}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB008#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Fit\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.7\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB009#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Form\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.4\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB010#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: it is recommended that the selected property types for the recommended items are matching to the provided properties if the item of change to allow a one-by-one comparison of items.\"},{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"}],\"idShort\":\"TechnicalData_Function\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.87\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB011#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: the manufacturers are recommended to select only those property types, which support a meaningful comparison of the recommendation with the item of change. To many property types are considered to increase the signal/ noise ratio of information.\"},{\"language\":\"en\",\"text\":\"Note: the SMC TechnicalData_Other is supposed to comprise meaningful property instances, which do not fit into the categorries fit, form, function.\"}],\"idShort\":\"TechnicalData_Other\",\"value\":[{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF980#001\"}],\"type\":\"ExternalReference\"},\"value\":\"0.95\",\"valueType\":\"xs:float\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: It is the suppliers role to assess the provided technical data elements of the recommended item with respect to the actual item of change. A percentage is given between 0% (totally not suitable at all) and 100% (equal performance to the actual item of change).\"}],\"idShort\":\"TargetEstimate\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SMT/General/Arbitrary\"}],\"type\":\"ExternalReference\"},\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Arbitrary Property, MLP or Range elements with specific semanticIds might be added.\"}],\"idShort\":\"Arbitrary\"}]},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-1#02-AAO280#003\"}],\"type\":\"ExternalReference\"},\"value\":\"DAT\",\"valueType\":\"xs:string\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"description\":[{\"language\":\"en\",\"text\":\"Note: see https://en.wikipedia.org/wiki/Incoterms\"}],\"idShort\":\"IncotermCode\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF982#001\"}],\"type\":\"ExternalReference\"},\"value\":\"5\",\"valueType\":\"xs:int\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"DeliveryTimeClassOtherRegion\"},{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#02-ABF981#001\"}],\"type\":\"ExternalReference\"},\"value\":\"2\",\"valueType\":\"xs:int\",\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"DeliveryTimeClassSameRegion\"},{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"0173-10029#01-XFB012#001\"}],\"type\":\"ExternalReference\"},\"qualifiers\":[{\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"https://admin-shell.io/SubmodelTemplates/Cardinality/1/0\"}],\"type\":\"ExternalReference\"},\"kind\":\"TemplateQualifier\",\"type\":\"SMT/Cardinality\",\"value\":\"ZeroToOne\",\"valueType\":\"xs:string\"}],\"idShort\":\"ConformityDeclarations\"}]}]}]}\n\nmsg.log = [];\nmsg.log.push(record.value[4].value[0].value[2].value);\nrecord.value[4].value[0].value[2].value = \"SOFTW\";\nmsg.log.push(record.value[4].value[0].value[2].value);\nrecord.value[10].value=String(msg.timestamp);\n\n// var new_val = set_my_val(value2, [\"DateOfRecord\"], \n\n// new_val.value[4].value[0].value[2].value = \"SOFTW\"\n\n\nrecord.idShort = \"Record__\" + msg.payload.value.length.toString().padStart(4, '0') + \"__\";\nmsg.payload.value.push(record);\n// msg.payload.value = [msg.payload.value[0]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 3,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 460,
        "wires": [
            [
                "4208cd63058c85f1",
                "2a15c73817d059de",
                "ad11bc45061e66fb"
            ]
        ]
    },
    {
        "id": "4208cd63058c85f1",
        "type": "debug",
        "z": "579eee5c6f3463c1",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a15c73817d059de",
        "type": "debug",
        "z": "579eee5c6f3463c1",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 380,
        "wires": []
    }
]