node-red-data/.flows.json.backup
[
    {
        "id": "eb23aa7e0c1a25b2",
        "type": "tab",
        "label": "PCN Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1cc3e88ab7ddcf11",
        "type": "tab",
        "label": "AAS Server Access",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f740f2a02722110",
        "type": "tab",
        "label": "MQTT Flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ab993690910a0e8",
        "type": "mqtt-broker",
        "name": "pcn-hackathon.westeurope.cloudapp.azure.com.mqtt",
        "broker": "rabbitmq-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "20683eecfcefd853",
        "type": "ui_tab",
        "name": "AAS PCN Hackathon Demonstrator",
        "icon": "fa-fire",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a16d945cdfc7a673",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "660b35396f343279",
        "type": "ui_group",
        "name": "Current PCN submodel change record",
        "tab": "20683eecfcefd853",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1f364b6cd789714",
        "type": "http request",
        "z": "eb23aa7e0c1a25b2",
        "name": "GET PCN records",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1390,
        "y": 580,
        "wires": [
            [
                "cf883cd797262ddf"
            ]
        ]
    },
    {
        "id": "264333d72f37d8ad",
        "type": "comment",
        "z": "eb23aa7e0c1a25b2",
        "name": "Clean E-Bike PCN Records",
        "info": "",
        "x": 940,
        "y": 440,
        "wires": []
    },
    {
        "id": "217ffc4b0ab51b4b",
        "type": "debug",
        "z": "eb23aa7e0c1a25b2",
        "name": "PUT record result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2530,
        "y": 660,
        "wires": []
    },
    {
        "id": "cf883cd797262ddf",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "getRecords",
        "func": "var records = msg.payload.value.slice();\n\nvar info = {\n    \"old\": {},\n    \"new\": {}\n};\ninfo.old.length = records.length;\ninfo.old.records = records.slice();\n\n// Use existing records[0] as record JSON template (deep copy)\nvar newRecord = JSON.parse(JSON.stringify(records[0]));\n\n// Change the idShort as identifier to the current record id\nnewRecord.idShort = \"Record__\" + records.length.toString().padStart(4,'0') + \"__\";\n\n// Set the change reason Id type to \"SOFTW\"\nnewRecord.value[4].value[0].value[2].value = msg.changeReason;\n\n// Set the current time as timestamp\nnewRecord.value[10].value = new Date(Date.now()).toISOString();\n\n// Change title in PCN submodel \"idShort\": \"ChanteTitle\"\nnewRecord.value[8].value[0].value[0].text = msg.changeTitle;\n\n// Change detail in PCN submodel \"idShort\": \"ChangeDetail\"\nnewRecord.value[8].value[1].value[0].text = msg.changeDetail;\n\n// Add new PCN record to existing records\nrecords.push(newRecord);\n\n// Add some debug info\ninfo.new.record = newRecord;\ninfo.new.length = records.length;\ninfo.new.records = records;\n\nmsg.payload.value = records;\nmsg.info = info;\nmsg.url = flow.get(\"url\");\nmsg.headers = flow.get(\"headers\");\nmsg.id = flow.get(\"id\");\nmsg.index = msg.payload.value.length - 1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 580,
        "wires": [
            [
                "6dbb4685c640ce29"
            ]
        ]
    },
    {
        "id": "9a443080db52e790",
        "type": "ui_form",
        "z": "eb23aa7e0c1a25b2",
        "name": "UpdateChangeRecordForm",
        "label": "Update PCN submodel change record",
        "group": "660b35396f343279",
        "order": 9,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Change Title",
                "value": "changeTitle",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Change Detail",
                "value": "changeDetail",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Version",
                "value": "changeVersion",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "IdShort",
                "value": "changeIdShort",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Change Reason",
                "value": "changeReason",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "changeTitle": "",
            "changeDetail": "",
            "changeVersion": "",
            "changeIdShort": "",
            "changeReason": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "f550ba48a2f4f30c"
            ]
        ]
    },
    {
        "id": "f550ba48a2f4f30c",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "setProperties",
        "func": "msg.changeTitle = msg.payload.changeTitle;\nmsg.changeDetail = msg.payload.changeDetail;\nmsg.changeReason = msg.payload.changeReason;\n\nmsg.url = \"https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/Records\";\nmsg.headers = {\"ApiKey\":\"A5Z2w$@S%>0M\"};\nmsg.id = \"https://meta-level.de/ids/sm/1897_2537_5972_2262\";\n\n// Set properties as const for the flow \nflow.set(\"url\", msg.url);\nflow.set(\"headers\", msg.headers);\nflow.set(\"id\", msg.id);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 580,
        "wires": [
            [
                "d1f364b6cd789714"
            ]
        ]
    },
    {
        "id": "6dbb4685c640ce29",
        "type": "http request",
        "z": "eb23aa7e0c1a25b2",
        "name": "PUT PCN records with new record",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1880,
        "y": 540,
        "wires": [
            [
                "217ffc4b0ab51b4b",
                "920390e7c2a3a16f"
            ]
        ]
    },
    {
        "id": "afab94e8bfc5e5f0",
        "type": "http request",
        "z": "eb23aa7e0c1a25b2",
        "name": "GET PCN records",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 800,
        "wires": [
            [
                "bee6fda28f8298b8",
                "bd9458cfc98c9ede"
            ]
        ]
    },
    {
        "id": "9d7f3e9a58fa7e85",
        "type": "ui_button",
        "z": "eb23aa7e0c1a25b2",
        "name": "GetCurrentVersionButton",
        "group": "660b35396f343279",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Get Current Version",
        "tooltip": "Retrieves the current version of the PCN records",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 800,
        "wires": [
            [
                "3b9937aa37c66de3"
            ]
        ]
    },
    {
        "id": "bee6fda28f8298b8",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "getLastRecord",
        "func": "var records = msg.payload.value.slice();\nvar lastRecord = records.pop();\n\nvar returnArray = new Array(6);\n\n// Change record title\nreturnArray[0] = {\n    \"payload\" : lastRecord.value[8].value[0].value[0].text\n};\n\n// Change record timestamp\nreturnArray[1] = {\n    \"payload\" : lastRecord.value[10].value\n};\n\n// Version\nreturnArray[2] = {\n    \"payload\" : msg.payload.value.length\n};\n\n// IdShort\nreturnArray[3] = {\n    \"payload\" : lastRecord.idShort\n};\n\n// Detail\nreturnArray[4] = {\n    \"payload\" : lastRecord.value[8].value[1].value[0].text\n};\n\n// Reason\nreturnArray[5] = {\n    \"payload\" : lastRecord.value[4].value[0].value[2].value\n};\n\nreturn returnArray;",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 800,
        "wires": [
            [
                "20eafe130c3cefb7"
            ],
            [
                "4f15c4444542963b"
            ],
            [
                "bcf6bfa9e125fdde"
            ],
            [
                "01bbc337ee55b366"
            ],
            [
                "ce8e3488a1d0857d"
            ],
            [
                "ea4124dcffa126b9"
            ]
        ]
    },
    {
        "id": "20eafe130c3cefb7",
        "type": "ui_text",
        "z": "eb23aa7e0c1a25b2",
        "group": "660b35396f343279",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "title",
        "label": "Title:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 700,
        "wires": []
    },
    {
        "id": "4f15c4444542963b",
        "type": "ui_text",
        "z": "eb23aa7e0c1a25b2",
        "group": "660b35396f343279",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "last timestamp",
        "label": "Last timestamp:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1900,
        "y": 740,
        "wires": []
    },
    {
        "id": "bcf6bfa9e125fdde",
        "type": "ui_text",
        "z": "eb23aa7e0c1a25b2",
        "group": "660b35396f343279",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "version",
        "label": "Version:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1880,
        "y": 780,
        "wires": []
    },
    {
        "id": "01bbc337ee55b366",
        "type": "ui_text",
        "z": "eb23aa7e0c1a25b2",
        "group": "660b35396f343279",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "idShort",
        "label": "IdShort:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1880,
        "y": 820,
        "wires": []
    },
    {
        "id": "ce8e3488a1d0857d",
        "type": "ui_text",
        "z": "eb23aa7e0c1a25b2",
        "group": "660b35396f343279",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "record detail",
        "label": "Detail:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1890,
        "y": 860,
        "wires": []
    },
    {
        "id": "ea4124dcffa126b9",
        "type": "ui_text",
        "z": "eb23aa7e0c1a25b2",
        "group": "660b35396f343279",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "reason",
        "label": "Reason:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 900,
        "wires": []
    },
    {
        "id": "bd9458cfc98c9ede",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "presetChangeRecordForm",
        "func": "var records = msg.payload.value.slice();\nvar length = msg.payload.value.length;\nvar lastRecord = records.pop();\n\nvar newRecord = {\n    \"changeTitle\": \"Firmware update V\" + (length + 1) + \" available\",\n    \"changeDetail\": \"Firmware update from version V\" + length\n        + \" to V\" + (length + 1) + \" is available.\",\n    \"changeVersion\": (length + 1),\n    \"changeIdShort\": \"Record__\" + length.toString().padStart(4, '0') + \"__\",\n    \"changeReason\": lastRecord.value[4].value[0].value[2].value\n};\n\nmsg.payload = newRecord;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 680,
        "wires": [
            [
                "9a443080db52e790"
            ]
        ]
    },
    {
        "id": "4d2e4f08784139af",
        "type": "ui_button",
        "z": "eb23aa7e0c1a25b2",
        "name": "CleanVersionRecordsButton",
        "group": "660b35396f343279",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Clean Version Records",
        "tooltip": "Reset of the firmware update PCN",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 480,
        "wires": [
            [
                "36cd572815e0556d"
            ]
        ]
    },
    {
        "id": "8d70d958c7189bb5",
        "type": "http request",
        "z": "eb23aa7e0c1a25b2",
        "name": "GET PCN records",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1390,
        "y": 480,
        "wires": [
            [
                "d98f880151034c93"
            ]
        ]
    },
    {
        "id": "d98f880151034c93",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "cleanRecords",
        "func": "// Use existing records[0] as record JSON template (deep copy)\nvar firstRecord = JSON.parse(JSON.stringify(msg.payload.value[0]));\n// Change the idShort as identifier to the current record id\nfirstRecord.idShort = \"Record__0000__\";\n// Set the change reason Id type to \"SOFTW\"\nfirstRecord.value[4].value[0].value[2].value = \"SOFTW\";\n// Set the current time as timestamp\nfirstRecord.value[10].value = new Date(Date.now()).toISOString();\n// Change title in PCN submodel \"idShort\": \"ChanteTitle\"\nfirstRecord.value[8].value[0].value[0].text = \"Firmware V1\";\n// Change detail in PCN submodel \"idShort\": \"ChangeDetail\"\nfirstRecord.value[8].value[1].value[0].text = \"The initial firmware version V1 for the device.\";\n\nvar cleanRecords = new Array();\ncleanRecords.push(firstRecord);\n\n// Add initial PCN record to existing records\nmsg.payload.value = cleanRecords;\nmsg.url = flow.get(\"url\");\nmsg.headers = flow.get(\"headers\");\nmsg.id = flow.get(\"id\");\nmsg.index = msg.payload.value.length - 1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 480,
        "wires": [
            [
                "6dbb4685c640ce29"
            ]
        ]
    },
    {
        "id": "920390e7c2a3a16f",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "sendMqttNotification",
        "func": "if(msg.statusCode === 204)\n{\n    msg.payload = { \n        \"submodel\": { \n            \"id\": msg.id, \n            \"path\": msg.url, \n            \"changeRecord\": msg.url + \"[\"+ msg.index + \"]\"\n            } };\n    return [msg, null];\n}\nelse{\n    // debug output\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 540,
        "wires": [
            [
                "8d961a19e7c1d998"
            ],
            [
                "217ffc4b0ab51b4b"
            ]
        ]
    },
    {
        "id": "8d961a19e7c1d998",
        "type": "mqtt out",
        "z": "eb23aa7e0c1a25b2",
        "name": "publish MQTT notification",
        "topic": "oi4-bike_de_ids_asset_9202_4872_3095_1328",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ab993690910a0e8",
        "x": 2510,
        "y": 540,
        "wires": []
    },
    {
        "id": "40dfc8b9a8a3b809",
        "type": "comment",
        "z": "eb23aa7e0c1a25b2",
        "name": "Update E-Bike PCN records with form",
        "info": "",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "36cd572815e0556d",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "setProperties",
        "func": "msg.changeTitle = msg.payload.changeTitle;\nmsg.changeDetail = msg.payload.changeDetail;\nmsg.changeReason = msg.payload.changeReason;\n\nmsg.url = \"https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/Records\";\nmsg.headers = {\"ApiKey\":\"A5Z2w$@S%>0M\"};\nmsg.id = \"https://meta-level.de/ids/sm/1897_2537_5972_2262\";\n\n// Set properties as const for the flow \nflow.set(\"url\", msg.url);\nflow.set(\"headers\", msg.headers);\nflow.set(\"id\", msg.id);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "8d70d958c7189bb5"
            ]
        ]
    },
    {
        "id": "3b9937aa37c66de3",
        "type": "function",
        "z": "eb23aa7e0c1a25b2",
        "name": "setProperties",
        "func": "msg.changeTitle = msg.payload.changeTitle;\nmsg.changeDetail = msg.payload.changeDetail;\nmsg.changeReason = msg.payload.changeReason;\n\nmsg.url = \"https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/Records\";\nmsg.headers = {\"ApiKey\":\"A5Z2w$@S%>0M\"};\nmsg.id = \"https://meta-level.de/ids/sm/1897_2537_5972_2262\";\n\n// Set properties as const for the flow \nflow.set(\"url\", msg.url);\nflow.set(\"headers\", msg.headers);\nflow.set(\"id\", msg.id);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 800,
        "wires": [
            [
                "afab94e8bfc5e5f0"
            ]
        ]
    },
    {
        "id": "ddd3ace4c52deb10",
        "type": "comment",
        "z": "eb23aa7e0c1a25b2",
        "name": "Get the last PCN record as current version",
        "info": "",
        "x": 980,
        "y": 760,
        "wires": []
    },
    {
        "id": "727a6dc5d3186ac2",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "GET /shells",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/shells",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "a78a6f902e2a440c"
            ]
        ]
    },
    {
        "id": "7061447d14cc9395",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "727a6dc5d3186ac2"
            ]
        ]
    },
    {
        "id": "fd90acb1026888da",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "GET /shells/{ebike}",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/shells/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9hYXMvNzAzNV8zOTEzXzc1OTFfNjYwMg ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "ApiKey",
                "valueType": "other",
                "valueValue": "A5Z2w$@S%>0M"
            }
        ],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "a78a6f902e2a440c"
            ]
        ]
    },
    {
        "id": "4387b78abcdcdda2",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "GET /submodels",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "a78a6f902e2a440c"
            ]
        ]
    },
    {
        "id": "a809af892c3f74f9",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "Shells access test",
        "info": "",
        "x": 270,
        "y": 120,
        "wires": []
    },
    {
        "id": "db729d670b61b46c",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "fd90acb1026888da"
            ]
        ]
    },
    {
        "id": "2ca646f60904dc2e",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "E-Bike Shell",
        "info": "",
        "x": 250,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4e20e5adfae3648",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "E-Bike PCN Submodel",
        "info": "",
        "x": 280,
        "y": 360,
        "wires": []
    },
    {
        "id": "1bf7e1485c44d46d",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "4387b78abcdcdda2"
            ]
        ]
    },
    {
        "id": "a78a6f902e2a440c",
        "type": "debug",
        "z": "1cc3e88ab7ddcf11",
        "name": "GET request debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "b6e959ecf5ce2438",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "GET /submodels",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 860,
        "wires": [
            [
                "ddac67faadf71b31"
            ]
        ]
    },
    {
        "id": "10f86476d5a17f8c",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "E-Bike Broker Information",
        "info": "",
        "x": 290,
        "y": 820,
        "wires": []
    },
    {
        "id": "99b10066de40cfc8",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "b6e959ecf5ce2438"
            ]
        ]
    },
    {
        "id": "ddac67faadf71b31",
        "type": "function",
        "z": "1cc3e88ab7ddcf11",
        "name": "extractBrokerInformation",
        "func": "// Url: idShort = \"EndpointMqtt\"\nmsg.url = msg.payload.result[0].value[0].value;\n\n// Topic: idShort = \"PcnEventsOutgoing\"\nmsg.topic = msg.payload.result[1].messageTopic;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 860,
        "wires": [
            [
                "a78a6f902e2a440c"
            ]
        ]
    },
    {
        "id": "c7a48b32ebc63c41",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "GET /submodels/.../BrokerInformation",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/BrokerInformation",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 620,
        "wires": [
            [
                "a78a6f902e2a440c"
            ]
        ]
    },
    {
        "id": "8c35380e4f70500f",
        "type": "comment",
        "z": "1cc3e88ab7ddcf11",
        "name": "E-Bike Broker Information (by submodel-elements/idShort)",
        "info": "",
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "bf8c370c6cde43c9",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "c7a48b32ebc63c41"
            ]
        ]
    },
    {
        "id": "4820285f2e93a3b0",
        "type": "http request",
        "z": "1cc3e88ab7ddcf11",
        "name": "GET /submodels/.../PcnEventsOutgoing",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mnestix-basyx-repo-b36325a9.azurewebsites.net/submodels/aHR0cHM6Ly9tZXRhLWxldmVsLmRlL2lkcy9zbS8xODk3XzI1MzdfNTk3Ml8yMjYy/submodel-elements/PcnEventsOutgoing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 680,
        "wires": [
            [
                "a78a6f902e2a440c"
            ]
        ]
    },
    {
        "id": "a006c09ac84c898e",
        "type": "inject",
        "z": "1cc3e88ab7ddcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 680,
        "wires": [
            [
                "4820285f2e93a3b0"
            ]
        ]
    },
    {
        "id": "8494720818162006",
        "type": "mqtt in",
        "z": "8f740f2a02722110",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ab993690910a0e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "a277964ed7fed32a"
            ]
        ]
    },
    {
        "id": "a277964ed7fed32a",
        "type": "debug",
        "z": "8f740f2a02722110",
        "name": "MQTT output debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "88cbbb1aee744678",
        "type": "comment",
        "z": "8f740f2a02722110",
        "name": "MQTT Subscription",
        "info": "",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "f80a216ae584f246",
        "type": "inject",
        "z": "8f740f2a02722110",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"pcn\":\"test\",\"submodel\":\"Reference\"}",
        "payloadType": "json",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "7a03087f03c3a3b7"
            ]
        ]
    },
    {
        "id": "7a03087f03c3a3b7",
        "type": "json",
        "z": "8f740f2a02722110",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "106dc058be70f1f5",
                "d9938a2ea8b457d7"
            ]
        ]
    },
    {
        "id": "106dc058be70f1f5",
        "type": "debug",
        "z": "8f740f2a02722110",
        "name": "MQTT test message debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "d45423e3a45a417c",
        "type": "comment",
        "z": "8f740f2a02722110",
        "name": "MQTT update message test",
        "info": "",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "d9938a2ea8b457d7",
        "type": "mqtt out",
        "z": "8f740f2a02722110",
        "name": "",
        "topic": "oi4-bike_de_ids_asset_9202_4872_3095_1328",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ab993690910a0e8",
        "x": 800,
        "y": 260,
        "wires": []
    }
]